.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.node-counter {
  margin: 20px 0;
  font-size: 7em;
  color: #61dafb;
}

.celebration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  z-index: 1; 
}

.ribbon {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  animation: ribbon-animation 2s linear infinite;
}


.ribbon:nth-child(1) { left: 10%; animation-delay: 0s; background-color: rgba(255, 247, 0, 0.6);}
.ribbon:nth-child(2) { left: 20%; animation-delay: -1s; background-color: rgba(255, 0, 0, 0.6); }
.ribbon:nth-child(3) { left: 30%; animation-delay: -0.5s; background-color: rgba(0, 255, 0, 0.6); }
.ribbon:nth-child(4) { left: 40%; animation-delay: -1.5s; background-color: rgba(0, 0, 255, 0.6); }
.ribbon:nth-child(5) { left: 50%; animation-delay: -2s; background-color: rgba(255, 255, 0, 0.6); }
.ribbon:nth-child(6) { left: 60%; animation-delay: -1.5s; background-color: rgba(12, 230, 63, 0.6); }
.ribbon:nth-child(7) { left: 70%; animation-delay: -1s; background-color: rgba(0, 208, 255, 0.6); }
.ribbon:nth-child(8) { left: 80%; animation-delay: -0.5s; background-color: rgba(200, 0, 255, 0.6); }
.ribbon:nth-child(9) { left: 90%; animation-delay: 0s; background-color: rgba(255, 132, 0, 0.6); }
.ribbon:nth-child(10) { left: 100%; animation-delay: -1.2s; background-color: rgba(0, 255, 234, 0.6); }



@keyframes ribbon-animation {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(-500px) rotate(360deg); opacity: 0; }
}

